<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org/DTD Mapper 3.0" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.edu.guet.mapper.UserMapper">
    <select id="getUserForLogin" parameterType="String" resultMap="userMap">
        SELECT u.*,r.*
        FROM users u,roles r,user_role ur
        WHERE user_name = #{username} AND password = #{password} AND u.user_id = ur.user_id AND ur.role_id = r.role_id
    </select>
    <resultMap id="userMap" type="User">
        <id property="user_id" column="user_id"></id>
        <result property="user_name" column="user_name"></result>
        <result property="password" column="password"></result>
        <result property="realname" column="realname"></result>
        <result property="phone" column="phone"></result>
        <result property="address" column="address"></result>
        <collection property="roleList" ofType="Role">
            <id property="role_id" column="role_id"></id>
            <result property="role_name" column="role_name"></result>
        </collection>
    </resultMap>
</mapper>